<!DOCTYPE html>
<html>
<head>
  <title>Shakespeare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p style="float: right;">
    <%= link_to "Admin", :rails_admin %>
  | <%= link_to "About", :about %>
</p>
<p style="float: left;"><%= link_to "Complete works of Shakespeare", :root %></p>

<div style="clear: both">
  <%= yield %>
</div>

</body>
</html>
